/*--------------GENERAL CONFIGURATIONS----------------
@import './global_theme.css';*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito', Helvetica;
}

body{
    background: white;
    font-size: 16px;
}
a{
    color: white;
}
a:hover{
    color: var(--main-color);
    text-shadow: 1px 0px 0px var(--color-2);
}
/*-----------------------CARD--------------------------*/
.card{
    min-height: 452px !important;
    min-width: 260px !important;
}

.card:hover{
    box-shadow: 1px 1px 4px #ccc;
}

.mic-bottom{
    position: absolute;
    bottom: 10px;
    right: 25% !important;
}

.card a{
    position: absolute;
    bottom: 10px;
    right: 20%;
    color: #fff;
}

.fade-in {
    animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
/*---------------------DATEPICKER------------------------*/
.datepicker {
    display: block;
    padding: 5px;
    min-width: 14em;
    outline: none;
    border: 2px solid #ccc;
    box-shadow: 0px 3px 10px #ccc;
}

.datepicker:focus, .datepicker:hover{
    border: 2px solid var(--main-color);
    box-shadow: 0px 3px 5px #ccc;
}
.icon-c {
    font-size: 2em;
    color: rgb(153, 152, 152);
    text-shadow: 0px 1px 5px #ccc;
}

.icon-bring-car {
    color: var(--main-color);
    font-size: 2em;
    text-shadow: 0px 1px 2px #ccc;
}

.card-bring-car{
    border-radius: 30px;
    box-shadow: 0px 3px 10px #ccc;
    padding: 1.5em 1.6em;
    margin: 0.5rem auto;
    border: 1px dashed var(--main-color);
}

.select-appointment{
    display: block;
    z-index: 1000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--main-color);
    color: rgb(27, 27, 27);
    font-size: 3em;
    text-align: center;
    border-radius: 30px;
}

.card-bring-car:hover {
    cursor: pointer;
    box-shadow: 3px 1px 15px #ccc;
}
/*---------------------CONTACTO-------------------------*/
.contact input[type=text]:focus:not([readonly]), 
.contact input[type=password]:focus:not([readonly]), 
.contact input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid var(--main-color) !important;
    -webkit-box-shadow: 0 1px 0 0 var(--main-color) !important;
    box-shadow: 0 1px 0 0 var(--main-color) !important;
}
  
.contact label{
    color: #ccc;
}
.contact label.active{
      color: var(--main-color) !important;
}

.contact .prefix.active{
    color: var(--main-color) !important;
}

.contact .prefix{
    color: var(--color-s-700);
}
/*---------------------DOMICILIO------------------------*/
  .register{
    border-radius: 20px;
    box-shadow: 0px 3px 20px #ccc;
    padding: 2.5em;
    margin: 2rem auto;
}

.insertion {
    border-radius: 20px;
    box-shadow: 0px 1px 3px #ccc;
    padding: 0.8em 1em 1.2em 1em;
    margin: 2rem auto;
}
.insertion:hover {
    box-shadow: 0px 3px 10px #ccc;
    cursor: pointer;
}

.icon-domicilio{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    box-shadow: 0px 7px 20px #ccc;
    padding: .9em;
}
.icon-domicilio i{
    font-size: 2em;
    color: #fff;
}

/*---------------------CAROUSEL------------------------*/
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: var(--main-color) !important;
    padding: .9rem !important;
    border-radius: .4rem;
}

.carousel-caption h1{
    color: var(--color-s-50);
}

/*----------------------MODAL--------------------------*/
.icon-login{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0px 7px 20px #ccc;
    padding: .9em;
    background-color: var(--main-color);
}
.icon-login:hover {
    cursor: pointer;
    box-shadow: 0px 3px 10px #ccc;
}
.icon-login i{
    font-size: 1.4em;
    color: #fff;
}

.ReactModal__Overlay{
    background: rgba(0, 0, 0, 0.5) !important;
    z-index: 10000 !important;
}
.config-modal{
    transition: all 1s ease-in-out !important;
}

.modal-content{
    display: block;
    margin: 0 auto;
}

.close{
    color: var(--main-color) !important;
}

form button{
  display: block;
  margin: 2px auto;
  color: white;
}
/* form button:hover{
  background-color: rgba(48,51,107,1) !important;
} */
.input-contenedor{
    display: block;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 5px 2px;
}
.modal-body input[type="text"],.modal-body input[type="password"], .modal-body input[type="email"], .modal-body input[type="tel"], select
{
  margin-bottom: 0px !important;
  outline: 0 !important;
  border: none !important;
  margin-left: -20px !important;
  background-color: transparent;
  width: 100%;
  font-style: italic;
}
.input-contenedor:focus-within {
    border: 1px solid var(--main-color);
}
.icon{
  display: block;
  font-size: 1.3em;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  color: var(--main-color);
}
.modal-body form p{
  display: block;
  margin-top: 20px;
  text-align: center;
}

.modal-content{
  margin: 10% auto;
  width: 100% !important;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom: none !important;
  padding: .3rem;
}
.title{
    display: block;
    margin-left: 45px;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: rgb(129, 129, 129);
}

.link1{
    color: blue;
}

.modal-footer {
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none !important;
}

.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: white;
}

.close:hover,
.close:focus {
  color: red !important;
  text-decoration: none;
  cursor: pointer;
}

.guardarBtn{
  display: block;
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: none;
  width: 100%;
  font-size: 1.3em;
  background-color: var(--color-s-400);
}

.guardarBtn:hover, .guardarBtn:focus
{
  background: var(--main-color);
}


@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*------------------------NAVBAR------------------------*/
.thickness-1 {
    border-bottom: 1px dotted;
}
.thickness-2 {
    border-bottom: 2px dotted;
}
.thickness-3 {
    border-bottom: 3px dotted;
}
.main-color{
    border-color: var(--main-color);
}
.secondary-color{
    background-color: #ccc;
}

.color-1 {
    background: linear-gradient(90deg, #ffffff 10%, var(--color-s-100) 90%);
}
/*------------------------NAVBAR------------------------*/
nav{
    font-family: 'Oswald', sans-serif;
}
.navbar{
    padding: 0.1rem 1rem !important;
    min-height: 4rem !important;
}

.img-logo, .img-logo-footer
{
    width: 3em;
    height: 3em;
    display: block;
}
.vertical-center{
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.name-company{
    margin-left: 10px;
    color: white !important;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.nav-item .nav-link{
    color: white !important;
    padding:10px 20px;
    font-weight: bold;
    transition:all 500ms ease;
    margin-right: 5px;
}
.Blogin, .quote{
    border-radius: 20px;
    color: #fff;
    display:inline-block;
    outline: 0;
    padding: 10px;
    margin-bottom: 4px;
    box-shadow: 0px 1px 3px var(--main-color);
    border: 2px solid var(--main-color);
}

.Blogin:hover, .quote:hover {
    box-shadow: none;
}


.nav-item a:hover{
    background-color: var(--main-color);
    text-decoration: none;
    border-radius: 20px;
    color: white;
}

.dropdown-toggle{
    font-weight: bold !important;
    font-size: 18px !important;
    margin-bottom: 4px;
    transition:all 500ms ease !important;
}

.dropdown-item{
    color: white !important;
    position: relative;
}
.dropdown-item:hover , .btn-card:hover{
    background: var(--main-color) !important;
}
.dropdown-menu{
    background: rgba(100, 98, 98, 0.8) !important;
}

.cursiva{
    transform:none;
    color: black;
}
.contenido p{
    margin-bottom: 20px;
}

.dropdown-toggle:hover .dropdown-menu{
    display: block;
}
#dropdownMenuLink:visited, #dropdownMenuLink:active{
    outline:none !important;
}

/*--------------SECTION CARDS ----------------------*/
section{
    font-family: 'Oswald', sans-serif;
}
.h2-cards{
    text-align: center;
    display: block;
    padding-bottom: 20px;
    color: black !important;
}

.btn-card{
    background-color: var(--color-s-400) !important;
    display: block !important;
    margin: 2px auto !important;
    width: 60%;
}

.borde{
    display: block;
    margin: 10px;
    border:3px solid var(--main-color);
    padding:3em;
    justify-content: center;
}
.borde1{
    display: block;
    margin: 10px;
    border:1px dashed rgba(128, 128, 128,0.5);
    padding:3em;
    justify-content: center;
}
.img-card{
    display: block !important;
    width: 200px !important;
    height: 200px !important;
    margin: 0px auto;
}
.card{
    border:none !important;
}
/*----------------------------SECTION DE BENEFICIOS-----------------------------*/
.benefit-title{
    text-align: center;
}
.img-beneficios{
    display: block;
    margin: 5px auto;
    width: 12rem !important;
    height: 12rem !important;
}
h4{
    text-align: center;
    padding: .8em 5px;
    color: white !important;
}
.section-card-naranja{
    background-color: var(--color-2);
}
.tarjeta-beneficio{
    margin-bottom: 2em;
}
.tarjeta-beneficio h3{
   color: white !important;
}
.card-body a{
    color: var(--color-2);
}
.borde2{
    display: block;
    margin: 10px;
    border:3px solid white;
    padding:20px;
    justify-content: center;
}

/* ----------------------FOOTER----------------------- */

.img-logo-footer {
    margin: 0px auto;
}
.background-footer{
    background-color: var(--color-2);
}
footer {
    background: #1c2331 !important;
    color: white;
}
.icon-footer{
    color: var(--color-s-300);
}
.footer-copyright{
    background-color: var(--color-2) !important;
}

/*----------------------------SECCION PRIMERA DE QUIENES-----------------------------*/

.description h1, h2, h3 {
    color: black !important;
}
.description h1 {
    font-size: 38px;
    text-align: center;
}
.description h2 {
   text-align: center;
}
.equipo
{
    background-color: #1c2331;
}

.carousel5 p {   
   display: block;
   font-size: 40px;
   font-family: 'Oswald', sans-serif;
   margin:0px !important;
}

.carousel5 h1 {   
    display: block;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 180px !important;
 }

.img5{
    filter: brightness(0.5);
}

/* --------------------SLIDER----------------- */
.owl-stage{
    margin-left: auto !important;
    margin-right: auto !important;
}