*{
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* MODIFICAR EL NOMBRE DE LA PAGINA */
h1{
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 0px;
    margin-top: 10px;
    
}


.logo{

    width: 80px;
    height: 80px;
    margin: 5px;
    margin-left: 50px;
}

.barraBusqueda
{
    margin-right: 65px;
    padding-bottom: 5px;
}

.nav-item{
    display: block;
    float: right;
    margin-top:10px;
    font-size: 17.5px;
}
.nav-link:hover
{
    background: #edc72e; 
    border-radius: 4px;
}
.dropdown-menu
{
    background:rgba(0, 0, 0, .5);
}
.dropdown-item:hover
{
    background: #edc72e;
}
.form-control
{
    border: 1px solid black    
}
.btn
{
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}
.btn:hover
{
    background: #edc72e;
}

.container-fluid
{
    height: 10px;
    background: #000;
}

.carousel-item
{
    max-height: 525px;
    overflow: hidden;
}


