/* Theme Application */

:root{
    --main-color: #FFC107;
    --color-s-50: #FFF8E1;
    --color-s-100: #FFECB3;
    --color-s-200: #FFE082;
    --color-s-300: #FFD54F;
    --color-s-400: #FFCA28;
    --color-s-500: #FFC107;
    --color-s-600: #FFB300;
    --color-s-700: #FFA000;
    --color-s-800: #FF8F00;
    --color-s-900: #FF6F00;


    /* Colors Pallete */
    --color-0: grey;
    --color-1: white;
    --color-2: #204051;
}