*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    background: url(../img/img.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.contenedor{
    width: 100%;
    padding: 15px auto;
    margin-top: 20px;
}

.formulario{    
    background: rgba(255,255,255, .9);
    margin-top: 80px !important;
    padding: 3px;
    padding: 30px;
}
.input-contenedor
{
    display: block;
    margin-bottom: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

h1{
    text-align: center;
    color: #504e4f;
    font-size: 40px;
    font-weight: bold;
}
input[type="text"],
input[type="password"],
input[type="email"],
select{
    font-size: 20px;
    width: 80%;
    padding: 10px;
    border: 0;
    background: rgba(255,255,255, .1) !important;

}
/*--------------------------------------------------------------------*/
input:focus, select:focus {
    outline: 0;
}

.input-contenedor:focus-within {
    border: 1px solid #edc72e;
  }

/*-----------------------------------------------------------------------*/
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: #504e4f;
    font-weight: bold;
    font-size: 20px;
    background: rgba(227,199,46, .8);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #edc72e;
}
/*-------------------------------------------------------------------------------------*/
p{
    text-align: center;
}
.vistaform 
{
    margin-top: 130px !important;
}

.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 700px;
        margin-top: 150px;
        border-radius: 2%;
    }
}




























