.border-report {
    border: 10px solid var(--main-color);
    border-radius: 10px;
    display: block;
}
.report-header h5{
    text-align: center;
}
.report-header, .report-footer {
    background-color: #B0BEC5;
    color: white;
    text-align: center;
}

/* Paypal */

.perform-pay {
    color: #B0BEC5 !important;
}