#menuBackground {
    background:#f8f8f8;
    width:100%;
    height:50px;
    text-align: center;
    margin: 1em 0px 2em 0px;
    padding: 0px;
}
    #menu {
    list-style-type:none;
    margin:0 !important;
    padding:0 !important;
    }
    #menu li {
    height:6.8em;
    text-align:center;
    line-height:35px;
    font-family:"Open Sans";
    color:#fff;
    background:#b0bec5;
    text-decoration:none;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    display:inline-block;
    vertical-align: top;
    margin: 0px !important;
    margin-right: -1px !important;
    margin-left: -1px !important;
    margin-bottom: 2px !important;
    min-width: 80px;
    box-shadow: 0px 3px 20px #ccc;
    }
    .active .numberStep {
    color: var(--main-color);
    font-size: 2em;
    }
    #menu li.active {
        background-color: var(--main-color);
    }
    #menu li:hover {
        cursor: pointer;
        background-color: var(--color-s-300);
        box-shadow: none;
    }
    div.numberStep {
    background: white;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #b0bec5;
    display: inline-block;
    font-weight: bold;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 2em; 
    height: 2em;
    font-size: 1.9em;
    }

    .numberStep i{
        font-size: 1.4em;
        margin-top: 4px;
        text-shadow: 0px 1px 5px #ccc;
    }
    .texto_step {
    margin-top: -14px;
    }

#menu li { 
    transition: all .4s ease-out;
}

.done {
    background:#32b844 !important;
}

.btn-step {
    float: right;
}

/*@media screen and (max-width : 640px) {
    #menu li {
        position:static;
        display:block;
        margin-left: 20px;
        margin-right: 20px;
        width: 100%;
        padding: 5px 5px;
    }
    div.numberStep {
        float: left;
    }
    .texto_step {
        margin-top: 8px !important;
        font-size: 16px !important;
        float: left;
    }
    div.numberStep {
        margin-top: 10px !important;
        margin-left: 15px !important;
        margin-right: 15px !important;
        width: 30px !important; 
        height: 30px !important;
        font-size: 24px !important;
        line-height: 28px !important;
    }
    #menu {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    .numberStep i{
        font-size: 24px;
    }
}*/